		<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<footer class="theme-footer">
					<img src="images/shape/27.png" alt="" class="shape-one">
					<div class="shape-two"></div>
					<img src="images/shape/18.png" alt="" class="shape-three">
					<img src="images/shape/28.png" alt="" class="shape-four">
					<!-- Subscribe
					<div class="container">
						<div class="footer-form-wrapper">
                            <h3>Subscribe to our website!</h3>
                            <br>
                            <form action="#">
								<input type="text" placeholder="Type Your Email">
								<button class="hvr-ripple-out">Go!</button>
							</form>
						</div>
					</div>
					-->

					<div class="container">
						<div class="footer-main-widget">
							<div class="row">
								<div class="col-xl-4 col-lg-3 col-sm-12 col-12 footer-logo">
									<div class="logo"><a href="/"><img src="images/logo/logo.png" alt=""></a></div>
                                    <br>
                                    <h4 class="title">Social Media Links</h4>
                                    <br>
									<ul>
										<li><a href="https://www.facebook.com/LPCNSH/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
										<li><a href="https://twitter.com/LPScience" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.footer-logo -->
								<div class="col-xl-2 col-lg-3 col-sm-6 col-12 footer-list">
									<h5 class="title">School</h5>
									<ul>
										<li><a href="/about">About</a></li>
										<li><a href="/facilities">Facilities</a></li>
                                        <li><a href="/achievements">Achievements</a></li>
                                        <li><a href="/faculty">Faculty</a></li>
                                    </ul>
								</div> <!-- /.footer-list -->
								<div class="col-lg-2 col-sm-6 col-12 footer-list">
									<h5 class="title">Inquire</h5>
									<ul>
										<li><a href="/admissions">Admissions</a></li>
										<li><a href="/knowledgebase">Knowledgebase</a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</div> <!-- /.footer-list -->
                                <div class="col-lg-2 col-sm-6 col-12 footer-list">
                                    <h5 class="title">Resources</h5>
                                    <ul>
                                        <li><a href="/downloadables">Downloadables</a></li>
                                        <li><a href="/sitemap">Sitemap</a></li>
                                    </ul>
                                </div> <!-- /.footer-list -->
								<div class="col-lg-2 col-sm-6 col-12 footer-list">
									<h5 class="title">Contacts</h5>
									<ul class="contact-list">
										<li><i class="fa fa-building" aria-hidden="true"></i> Carnival Park St., BF Resort Village, <br>Talon Dos, Las Piñas City</li>
										<li><i class="fa fa-inbox" aria-hidden="true"></i> lpcnshs1@gmail.com <br>800-0045</li>
									</ul>
								</div> <!-- /.footer-list -->
							</div>
						</div> <!-- /.footer-main-widget -->

                        <div class="copyright">Copyright <%= currentYear %> | <a href="https://www.facebook.com/lpsciwebdev/" target="_blank">LPSci Web Development Team</a></div>
					</div> <!-- /.container -->
				</footer> <!-- /.theme-footer -->

			</div> <!-- /.html-top-content -->


			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s color-one-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>

		
		<!-- Js File_________________________________ -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<!-- Popper js -- Using latest library 1.14.5 -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.5/esm/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<!-- AOS js -- Using latest library 2.3.4 -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
		<!-- Fancybox -->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.0.0/jquery.countTo.js"></script>

		<!-- Js File_________________________________ -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="../../../vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="../../../vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../../../vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->
		<!-- AOS js -->
		<script src="../../../vendor/aos-next/dist/aos.js"></script>
		<!-- js count to -->
		<script src="../../../vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="../../../vendor/fancybox/dist/jquery.fancybox.min.js"></script>


		<!-- Vendor js _________ -->
		<!-- menu -- Missing -->
		<script src="../../../vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- js count to -- Missing -->
		<script src="../../../vendor/jquery.appear.js"></script>
		<!-- owl Carousel -- Missing -->
		<script src="../../../vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- Smooth Scroll -->
		<script src="../../../vendor/smoothscroll/smooth-scroll.min.js"></script>
		<!-- Theme js -->
		<script src="../../../js/script.min.js"></script>
		<!-- Missing: jquery.slimmenu.js, jquery.appear.js, owl.carousel.min.js -->