<meta charset="UTF-8">
<meta name="keywords" content="lpsci, lpsci website, Las Piñas City National Science High School, LasPi Sci, LPSCI Web Dev Team, Science Website, Las Piñas">
<meta name="author" content="LPSci Web Development Team">
<meta name="description" content="<%= description %>">
<meta name='og:image' content='images/meta/og_image.jpg'>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@LPScience">
<meta name="twitter:image" content="images/meta/og_image.jpg">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1f9a4f">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1f9a4f">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1f9a4f">

<title><%= title %></title>

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="56x56" href="../../../images/logo/logo.png">

<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="../../../css/style.css">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="../../../css/responsive.min.css">

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css">
-->

<!-- Fix Internet Explorer ______________________________________-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="vendor/html5shiv.js"></script>
<script src="vendor/respond.js"></script>
<![endif]-->