<div class="main-page-wrapper">
    <!--search box-->
    <!-- ********************** Loading Transition ************************ -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    <div class="html-top-content">
        <!-- ********************** Theme Top Banne & Header ************************ -->
        <div class="theme-top-section">
            <!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
            <header class="theme-main-menu">
                <div class="menu-wrapper menu-style-one clearfix">
                    <div class="logo bg-color"><a href="/"><img src="images/logo/logo.svg" alt="Logo"></a></div>

                    <div class="menu-list-wrapper">
                        <nav id="mega-menu-holder" class="clearfix">
                            <ul class="clearfix one-page-menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">School</a>
                                    <ul class="dropdown">
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/facilities">Facilities</a></li>
                                        <li><a href="/achievements">Achievements</a></li>
                                        <li><a href="/faculty">Faculty</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Inquire</a>
                                    <ul class="dropdown">
                                        <li><a href="/admission">Admissions</a></li>
                                        <li><a href="/knowledgebase">Knowledgebase</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="/downloadables">Downloadables</a></li>
                            </ul>
                        </nav> <!-- /#mega-menu-holder -->
                    </div>
                    
                    <ul class="right-widget celarfix">
                        <!-- search button -->
                        <li class="language-switcher">
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                    En
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">English</a>
                                    <a class="dropdown-item" href="#">Filipino</a>
                                  </div>
                            </div>
                        </li>
                    </ul> <!-- /.right-widget -->
                    
                </div> <!-- /.menu-wrapper -->
            </header> <!-- /.theme-main-menu -->