<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/school/head %>
</head>

<body>
<% include ../../partials/school/nav %>

<div class="error-page">
    <img src="images/shape/41.png" alt="" class="shape-one">
    <img src="images/svg/error.svg" alt="" class="illustration">
    <p>We can't seem to find the page you're looking for</p>
    <a href="/" class="home-button">Back To Home Page</a>
</div>

<% include ../../partials/school/footer %>
</body>

</html>