<!DOCTYPE html>
<html lang="en">
	
<head>
	<% include ../../partials/school/head %>
</head>

<body>
	<% include ../../partials/school/nav %>

					<div class="theme-inner-banner">
						<img src="images/shape/34.png" alt="" class="wave-one">
						<img src="images/svg/about.svg" alt="" class="illustration" style="width: 25vw;">
						<img src="images/shape/43.png" alt="" class="shape-one">
						<img src="images/shape/29.png" alt="" class="shape-two">
						<img src="images/shape/30.png" alt="" class="shape-three">
						<img src="images/shape/31.png" alt="" class="shape-four">

                        <div class="container">
							<div class="inner-wrapper">
								<h2 class="title">About Las Piñas City National Science High School</h2>
								</div> <!-- /.inner-wrapper -->
						</div> <!-- /.container -->
					</div> <!-- /.theme-inner-banner -->
				</div> <!-- /.theme-top-section -->

				<div class="agency-feature">
					<img src="images/shape/42.png" alt="" class="shape-one">
					<img src="images/shape/9.png" alt="" class="shape-two">
					<div class="container">
						<div class="section-title">
							<h2>We strive for excellence! </h2>
                            <p>Over the years, LPSci proved to be an environment conducive to honing students’ skills in academics, computer, arts or athletics – all the while cultivating good work ethics and social responsibility. LPSci continues to push the boundaries of achievement; not settling with experiencing the rarity of it but making excellence a sustained habit.</p>
                            <p>LPSci might only be approaching its 10 years of existence, but it is undeniable that it has produced outstanding graduates in different colleges and universities. However, its students will never forget the essence of its motto: a bright mind is nothing without a humble heart.</p>
                            <p>Las Piñas City National Science High School is not only just an institution. It is a home that cares for the welfare of its students – an abode where minds and hearts are filled with hopes of achieving their dreams. ‘Cause here in LPSci, we soar high!</p>
						</div> <!-- /.section-title -->
						<div class="row">
							<!-- Video Montage
							<div class="col-lg-4 col-12">
								<div class="video-demo">
									<h2>Want to know more about the school?</h2>
									<a data-fancybox href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="play-button fancybox"><i class="flaticon-play-button"></i></a>
									<p>See this short film</p>
								</div>
							</div>
							-->
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-md-12">
										<div class="single-feature">
											<img src="images/icon/science.png" alt="" class="icon">
											<h4>Science-oriented curriculum</h4>
											<p>LPSci delivers a specialized curriculum for its leaners which engages them in science-oriented activities. Students are provided with advanced lessons through Science, English and Mathematics elective subjects that vary for each level. The school also offers senior high school to learners who are eyeing a STEM-oriented career. In this level of education, LPSci gives a more rigorous training ground to seniors by immersing them in research and their desired career path.</p>
										</div> <!-- /.single-feature -->
									</div>
								</div>
								<h2 class="sub-heading">Still need to know more?</h2>
								<h4 class="call-action">Contact us: <a href="#">(+63) 800-0045</a></h4>
								<h4 class="call-action">Or email us at: <a href="#">lpshs1@gmail.com</a></h4>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.agency-feature -->

				<div class="about-us style-two">
					<img src="images/shape/9.png" alt="" class="shape-four">
					<div class="single-block">
						<img src="images/home/history.png" alt="" class="block-shape-one block-shape">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 offset-lg-6 col-12">
									<div class="text">
										<div class="section-title">
											<h2>History</h2>
										</div> <!-- /.section-title -->
                                        <p>Through the efforts of the former Senate President, the Republic Act 9451 legitimized the establishment of our beloved alma mater, Las Piñas City National Science High School.</p>
                                        <p>Out of over a hundred applicants, 25 made the cut, but only 24 held firm in the first day of classes where there was not a school to be seen. Instead, they have but gratitude to Las Piñas East – Talon Village Annex for lending them a temporary holding.</p>
                                        <p>On July 30, 2009, the first foundation day was held, and the building of Las Piñas City National Science High School was inaugurated.</p>
                                        <p class="bottom-text">The school was established through the <a href="https://www.senate.gov.ph/republic_acts/ra%209451.pdf">Republic Act 9451</a></p>
									</div>
								</div>
							</div>
						</div> <!-- /.container -->
					</div> <!-- /.single-block -->
					<div class="single-block">
						<img src="images/home/mav.svg" style="width: 85vw;" alt="" class="block-shape-two block-shape">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-12">
									<div class="text">
										<div class="section-title">
											<h2>Vision</h2>
										</div> <!-- /.section-title -->
										<p>Las Piñas City National Science High school is a premier academic institution that provides quality education which ensures students' integrity and academic excellence through lifelong learning.</p>
										<br>
										<div class="section-title">
											<H2>Mission</H2>
										</div>
										<p>Las Piñas City National Science High school offers holistic experiences that empower learners to become to become globally competitive individuals through collaborative efforts of all stakeholders.</p>
										<!--<p class="bottom-text">Another Interesting Fact...</p>-->
									</div>
								</div>
							</div>
						</div> <!-- /.container -->
					</div> <!-- /.single-block -->
				</div> <!-- /.about-us -->

				<% include ../../partials/school/footer %>
	</body>
</html>