<!DOCTYPE html>
<html lang="en">
	
	<head>
		<% include ../../partials/school/head %>
			
	</head>
	
	<body>
		<% include ../../partials/school/nav %>
					


					<!-- ^^^^^^^^^^^^^^^^^ Theme Inner Banner ^^^^^^^^^^^^^^^ -->
					<div class="theme-inner-banner">
						<div class="round-shape-one"></div>
						<img src="images/shape/34.png" alt="" class="wave-one">
						<img src="images/shape/34.png" alt="" class="wave-two">
						<img src="images/home/5.png" alt="" class="illustration">
						<img src="images/shape/5.png" alt="" class="shape-one">
						<img src="images/shape/29.png" alt="" class="shape-two">
						<img src="images/shape/30.png" alt="" class="shape-three">
						<img src="images/shape/31.png" alt="" class="shape-four">
						<div class="container">
							<div class="inner-wrapper">
								<h2 class="title">Blog List <br>Leftside bar</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>-</li>
									<li>Blog</li>
								</ul>
								<div class="pager">Blog</div>
							</div> <!-- /.inner-wrapper -->
						</div> <!-- /.container -->
					</div> <!-- /.theme-inner-banner -->
				</div> <!-- /.theme-top-section -->

				



				<!--
				=====================================================
					Blog List
				=====================================================
				-->
				<div class="theme-details-page">
					<img src="images/shape/38.png" alt="" class="shape-one">
					<div class="shape-two"></div>
					<img src="images/shape/39.png" alt="" class="shape-three">
					<div class="shape-four"></div>
					<div class="container">
						<div class="row">
							<div class="col-xl-9 col-lg-8 col-12 order-lg-last blog-list-style">
								<div class="single-blog-post">
									<div class="img-box"><img src="images/blog/1.jpg" alt=""></div>
									<div class="text-meta">
										<ul class="tag-info clearfix">
											<li><a href="#">Mahfuz Riad</a></li>
											<li><a href="#">September  12, 2018</a></li>
											<li><a href="#">Growth, trade</a></li>
										</ul>
										<h3 class="title"><a href="blog-details.html">Gaining an edge in the online marketplace can be challenging. </a></h3>
										<p>Gaining an edge in the online marketplace can be challenging. It’s no longer just about “showing up” by having a website. You need to be executing a digital marketing strategy at a high level to truly succeedUnderstanding how your customers are using your website .... </p>
										<a href="blog-details.html" class="read-more"><i class="flaticon-right-arrpw"></i> read More</a>
									</div> <!-- /.text-meta -->
								</div> <!-- /.single-blog-post -->
								<div class="single-blog-post">
									<div class="img-box"><img src="images/blog/2.jpg" alt=""></div>
									<div class="text-meta">
										<ul class="tag-info clearfix">
											<li><a href="#">Mahfuz Riad</a></li>
											<li><a href="#">September  12, 2018</a></li>
											<li><a href="#">content marketing</a></li>
										</ul>
										<h3 class="title"><a href="blog-details.html">Where & When to Repurpose Your Holiday Content</a></h3>
										<p>I know what you’re thinking … it’s much too early to be discussing the holidays ahead. You may not be ready to see winter wonderland displays set up in your favorite department store or hear Christmas carols on the radio, but when it comes to marketing for the holidays, </p>
										<a href="blog-details.html" class="read-more"><i class="flaticon-right-arrpw"></i> read More</a>
									</div> <!-- /.text-meta -->
								</div> <!-- /.single-blog-post -->
								<div class="single-blog-post">
									<div class="img-box"><img src="images/blog/3.jpg" alt=""></div>
									<div class="text-meta">
										<ul class="tag-info clearfix">
											<li><a href="#">Mahfuz Riad</a></li>
											<li><a href="#">September  12, 2018</a></li>
											<li><a href="#">Marketing Strategy </a></li>
										</ul>
										<h3 class="title"><a href="blog-details.html">Preparing Your Marketing Strategy for Black Friday</a></h3>
										<p>It’s almost that time again – when shoppers set their alarms for ungodly hours and leave the Thanksgiving table early to wait in line outside their favorite retail store, hoping to get their hands on the best deals of the year.</p>
										<a href="blog-details.html" class="read-more"><i class="flaticon-right-arrpw"></i> read More</a>
									</div> <!-- /.text-meta -->
								</div> <!-- /.single-blog-post -->
								<div class="single-blog-post">
									<div class="img-box"><img src="images/blog/4.jpg" alt=""></div>
									<div class="text-meta">
										<ul class="tag-info clearfix">
											<li><a href="#">Mahfuz Riad</a></li>
											<li><a href="#">September  12, 2018</a></li>
											<li><a href="#">G SEO Strategy</a></li>
										</ul>
										<h3 class="title"><a href="blog-details.html">9 Effective Ecommerce SEO Tools Tips</a></h3>
										<p>Ecommerce SEO provides the foundation for websites to build a strong digital marketing strategy. If you’re just getting started with a new website or looking to optimize growth for your organic campaigns, these tips will help accelerate your growth and improve your ability of reaching the coveted first page.</p>
										<a href="blog-details.html" class="read-more"><i class="flaticon-right-arrpw"></i> read More</a>
									</div> <!-- /.text-meta -->
								</div> <!-- /.single-blog-post -->
								<div class="theme-pagination">
									<ul class="clearfix">
										<li><a href="#">01</a></li>
										<li class="active"><a href="#">02</a></li>
										<li><a href="#"> .... </a></li>
										<li><a href="#">07</a></li>
										<li><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-md-6 col-12 order-lg-first theme-sidebar">
								<div class="sidebar-block sidebar-search">
									<h6 class="sidebar-title">Search Widget</h6>
									<form action="#">
										<input type="text" placeholder="Search">
										<button><i class="fa fa-search" aria-hidden="true"></i></button>
									</form>
								</div> <!-- /.sidebar-search -->
								<div class="sidebar-block sidebar-newsletter">
									<h6 class="sidebar-title">News Letter</h6>
									<form action="#">
										<input type="email" placeholder="Enter email address">
										<button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
									</form>
								</div> <!-- /.sidebar-newsletter -->
								<div class="sidebar-block sidebar-categories">
									<h6 class="sidebar-title">Categories</h6>
									<ul>
										<li class="active"><a href="#">Digital Marketing <span>12</span></a></li>
										<li><a href="#">Blog <span>12</span></a></li>
										<li><a href="#">Creative <span>12</span></a></li>
										<li><a href="#">Web Design <span>12</span></a></li>
										<li><a href="#">Business <span>12</span></a></li>
									</ul>
								</div> <!-- /.sidebar-categories -->
								<div class="sidebar-block sidebar-banner">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
									<p>Gaining an edge in the online marketplace can be challenging. It’s no longer just about “showing up” by having a website</p>
									<span>@ Mahfuz Riad</span>
								</div> <!-- /.sidebar-banner -->
								<div class="sidebar-block sidebar-tags">
									<h6 class="sidebar-title">Tags</h6>
									<ul class="clearfix">
										<li><a href="#">blog</a></li>
										<li><a href="#">Agency</a></li>
										<li><a href="#">SEO</a></li>
										<li><a href="#">agency</a></li>
										<li><a href="#">marketing</a></li>
										<li><a href="#">shop</a></li>
									</ul>
								</div> <!-- /.sidebar-tags -->
								<div class="sidebar-block sidebar-recent-post">
									<h6 class="sidebar-title">RECENT Post</h6>
									<ul class="clearfix">
										<li>
											<a href="#">Robust Digital Marketing Analytics</a>
											<div class="date">17 September  2018</div>
										</li>
										<li>
											<a href="#">Our SEO team will implement basic or custom</a>
											<div class="date">12 September  2018</div>
										</li>
										<li>
											<a href="#">We primarily work with Google Analytics and Google </a>
											<div class="date">12 September  2018</div>
										</li>
									</ul>
								</div> <!-- /.sidebar-recent-post -->
							</div> <!-- /.theme-sidebar -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-details-page -->
				




				<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<% include ../../partials/school/footer %>

<!-- Mirrored from html.unifytheme.com/shaj/blog-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Nov 2018 02:03:43 GMT -->
</html>