<!DOCTYPE html>
<html lang="en">
		<head>
				<% include ../../partials/school/head %>
					
			</head>
			
			<body>
				<% include ../../partials/school/nav %>
					
					<!-- ^^^^^^^^^^^^^^^^^ Theme Inner Banner ^^^^^^^^^^^^^^^ -->
					<div class="theme-inner-banner">
						<div class="round-shape-one"></div>
						<img src="images/shape/34.png" alt="" class="wave-one">
						<img src="images/shape/34.png" alt="" class="wave-two">
						<img src="images/home/9.png" alt="" class="illustration">
						<img src="images/shape/5.png" alt="" class="shape-one">
						<img src="images/shape/29.png" alt="" class="shape-two">
						<img src="images/shape/30.png" alt="" class="shape-three">
						<img src="images/shape/31.png" alt="" class="shape-four">
						<div class="container">
							<div class="inner-wrapper">
								<h2 class="title">Discover Our <br>Staff</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>-</li>
									<li>Staff</li>
								</ul>
								<a href="#" class="site-button hvr-ripple-out">CHeck you Site <i class="flaticon-right-arrpw"></i></a>
							</div> <!-- /.inner-wrapper -->
						</div> <!-- /.container -->
					</div> <!-- /.theme-inner-banner -->
				</div> <!-- /.theme-top-section -->

				



				<!--
				=====================================================
					Our Team
				=====================================================
				-->
				<div class="our-team inner-team-page">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="single-member active">
									<img src="images/team/1.png" alt="">
									<h4 class="name">Mahfuz Riad</h4>
									<p>Designer Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/2.png" alt="">
									<h4 class="name">Martin Jack</h4>
									<p>SEO Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/3.png" alt="">
									<h4 class="name">Mog hu</h4>
									<p>Interfeace Designer</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/4.png" alt="">
									<h4 class="name">Faisal Cak</h4>
									<p>WEB DESIGNER</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/5.png" alt="">
									<h4 class="name">Jack Miller</h4>
									<p>Designer Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/6.png" alt="">
									<h4 class="name">Tamim rf</h4>
									<p>SEO Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/7.png" alt="">
									<h4 class="name">Lee Hung</h4>
									<p>Interfeace Designer</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/8.png" alt="">
									<h4 class="name">Malik Sp</h4>
									<p>WEB DESIGNER</p>
								</div> <!-- /.single-member -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.our-team -->



				<!--
				=====================================================
					About Us
				=====================================================
				-->
				<div class="about-us space-fix">
					<img src="images/shape/7.png" alt="" class="shape-one">
					<img src="images/home/4.png" alt="" class="shape-two">
					<img src="images/shape/8.png" alt="" class="shape-three">
					<img src="images/shape/9.png" alt="" class="shape-four">
					<img src="images/shape/10.png" alt="" class="shape-five">
					<div class="shape-six"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-6 col-12">
								<div class="text">
									<div class="section-title">
										<h2>Here’s how we can help you achieve your growth goals</h2>
									</div> <!-- /.section-title -->
									<p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.It’s a phrase that begins every conversation, and we’d like to start one with you. We love creating digital solutions for all types of businesses</p>
									<p>We make sure your brand is front and center in the search listings - right where you need to be to capture customers.</p>
									<p class="bottom-text">Google has decreased the number of organic blue links displayed as the result of a search from 10 to 8.5, on average. (Source: Searchmetrics, 2016)</p>
									<a href="#" class="theme-button-two hvr-ripple-out">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div> <!-- /.container -->
				</div> <!-- /.about-us -->



				<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<% include ../../partials/school/footer %>
	</body>

<!-- Mirrored from html.unifytheme.com/shaj/team.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Nov 2018 02:02:35 GMT -->
</html>