<!DOCTYPE html>
<html lang="en">

	<head>
		<% include ../../partials/school/head %>
			
	</head>
	
	<body>
		<% include ../../partials/school/nav %>

					<!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
					<div id="theme-banner" class="theme-banner-one">
						<img src="images/shape/3.png" alt="" class="shape-one">
						<img src="images/shape/4.png" alt="" class="shape-two">
						<img src="images/shape/6.png" alt="" class="shape-three">
						<img src="images/shape/5.png" alt="" class="shape-four">
						<div class="round-shape-one"></div>
						<div class="round-shape-two"></div>
						<div class="round-shape-three"></div>
						<img src="images/svg/homepage.svg" alt="" class="svg-shape-one">
						<div class="container">
							<div class="main-text-wrapper">
								<h1>Las Piñas City National Science High School</h1>
								<p>"A Bright Mind is Nothing Without a Humble Heart"</p>
								<div class="button-group">
									<a href="#about" class="theme-button button-one hvr-ripple-out">Get to know!</a>
								</div>
							</div>
						</div>
					</div> <!-- /.theme-banner-one -->
				</div> <!-- /.theme-top-section -->
				



		        <!--
				=====================================================
					About Us
				=====================================================
				-->
				<div class="about-us" id="about">
					<img src="images/shape/7.png" alt="" class="shape-one">
					<img src="images/home/1.png" alt="" class="shape-two">
					<img src="images/shape/8.png" alt="" class="shape-three">
					<img src="images/shape/9.png" alt="" class="shape-four">
					<img src="images/shape/10.png" alt="" class="shape-five">
					<div class="shape-six"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-6 col-12">
								<div class="text">
									<div class="section-title">
										<h2>Here at LPSci, we soar HIGH.</h2>
									</div> <!-- /.section-title -->
									<p>Our alma mater has been an abode of learning, as reflected by the various activities that make each student grow to their fullest potential. With excellent teachers, students are equipped with skills and values that will make them globally-competitive individuals.</p>
									<p>Las Piñas City National Science High School, fondly known as LPSci, also takes pride in its students’ achievements in different fields, be it academic or non-academic, across different levels and stages.</p>
									<!-- <p class="bottom-text">Add cool fact/s here</p> -->
									<a href="/about" class="theme-button-two hvr-ripple-out">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div> <!-- /.container -->
				</div> <!-- /.about-us -->



		        <!--
				=====================================================
					Achievements
				=====================================================
				-->

				<!--

				<div class="our-services" id="achievements">
					<div class="shape-one"></div>
					<img src="images/shape/13.png" alt="" class="shape-two">
					<div class="container">
						<div class="section-title">
							<h2>Providing quality and only the best education<br> for 21st century learners</h2>
							<p>Paragraph 1</p>
						</div>
						<div class="row">
							<div class="col-lg-6 col-12" data-aos="flip-up">
								<div class="service-block">
									<div class="icon-box">
										<img src="images/shape/11.png" alt="">
										<i class="flaticon-tick"></i>
									</div>
									<h4 class="title"><a href="#">Add "feature" here</a></h4>
									<p>Paragraph 1</p>
								</div>
							</div>
							<div class="col-lg-6 col-12" data-aos="flip-up" data-aos-delay="150">
								<div class="service-block">
									<div class="icon-box">
										<img src="images/shape/12.png" alt="">
										<i class="flaticon-tick"></i>
									</div>
									<h4 class="title"><a href="#">Add second "feature" here</a></h4>
									<p>Paragraph 1</p>
								</div>
							</div>
						</div>

						<div class="bottom-banner" data-aos="flip-up">
							<h3>Add an interesting lifetime achievement here</h3>
							<a href="/achievements" class="theme-button-two hvr-ripple-out">More Achievements <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>

				-->

				<!--
				=====================================================
					Testimonials
				=====================================================
				-->
				<div class="client-section" id="testimonials">
					<img src="images/shape/16.png" alt="" class="shape-one">
					<img src="images/shape/15.png" alt="" class="shape-two">

					<div class="carousel slide" id="client-slider" data-ride="carousel">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-12">
									<div class="text-wrapper">
										<div class="section-title">
											<h2>Discover what our <span>students</span> say </h2>
										</div> <!-- /.section-title -->
										<div class="carousel-inner">
										    <div class="carousel-item active">
                                                <p>Over the years, LPSci has helped its students in honing their skills in varying fields — may it be in academics, the arts, or athletics — all the while cultivating good work ethics and social responsibility. LPSci continues to push the boundaries of excellence; not settling with experiencing the rarity of it but making excellence a sustained habit.</p>
                                                <h5 class="name">Yonina Aisha B. Garcia</h5>
                                                <div class="post">Grade 11 Student</div>
										    </div>
										    <div class="carousel-item">
                                                <p>LPSci has opened new avenues for me to explore, and each experience has helped me develop holistically. Because of the skills and achievements bestowed by the school, I’ve been offered many opportunities outside the school.</p>
                                                <h5 class="name">Julianna Reyes
												</h5>
                                                <div class="post">Grade 11 Student</div>
										    </div>
										</div>
										  <a class="carousel-control-prev" href="#client-slider" role="button" data-slide="prev">
										    <i class="flaticon-left-arrow"></i>
										    <span class="sr-only">Previous</span>
										  </a>
										  <a class="carousel-control-next" href="#client-slider" role="button" data-slide="next">
										    <i class="flaticon-right-arrpw"></i>
										    <span class="sr-only">Next</span>
										  </a>
									</div> <!-- /.text-wrapper -->
								</div>
							</div>
						</div> <!-- /.container -->


						<div class="right-content clearfix">
							<img src="images/home/testimonials.png" style="width: 45vw;" alt="" class="main-img">
							<img src="images/shape/14.png" alt="" class="main-shape">
							<ol class="carousel-indicators">
							    <li data-target="#client-slider" data-slide-to="0" class="active"><img src="images/home/c-1.jpg" alt=""></li>
							    <li data-target="#client-slider" data-slide-to="1"><img src="images/home/c-2.jpg" alt=""></li>
							</ol>
						</div>
					</div>
				</div> <!-- /.client-section -->
				
				


				<!--
				=====================================================
						Facilities
				=====================================================
				-->

				<!--
				<div class="our-case-study-feature section-home">
					<img src="images/shape/17.png" alt="" class="shape-one">
					<div class="shape-two"></div>
					<img src="images/shape/18.png" alt="" class="shape-three">

					<div class="container">
						<div class="section-title button-style">
							<div class="row">
								<div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6 col-12"><h2>Discover our facilities</h2> </div>
							</div>
							<p>Short description about our facilities</p>
							<a href="/facilities" class="section-inner-button">View More Facilities</a>
						</div>
					</div>

					<div class="inner-wrapper">
						<div class="case-slider">
							<div class="item">
								<div class="single-case-feature">
									<img src="images/case/1.jpg" alt="">
									<div class="overlay">
										<a href="case-details.html" class="icon details"><i class="flaticon-right-arrpw"></i></a>
										<a href="images/case/1.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption"><i class="flaticon-photo"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="single-case-feature">
									<img src="images/case/2.jpg" alt="">
									<div class="overlay">
										<a href="case-details.html" class="icon details"><i class="flaticon-right-arrpw"></i></a>
										<a href="images/case/2.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption"><i class="flaticon-photo"></i></a>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="single-case-feature">
									<img src="images/case/3.jpg" alt="">
									<div class="overlay">
										<a href="case-details.html" class="icon details"><i class="flaticon-right-arrpw"></i></a>
										<a href="images/case/3.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption="My caption"><i class="flaticon-photo"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				-->

				<!-- 
				=============================================
					Blog grid Style
				============================================== 
				-->

				<!--
				<div class="blog-grid-style home-layout">
					<img src="images/shape/17.png" alt="" class="shape-one">
					<div class="shape-two"></div>
					<img src="images/shape/18.png" alt="" class="shape-three">
					<div class="container">
						<div class="section-title button-style">
							<div class="row">
								<div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6"><h2>Discover our Upcoming Events</h2></div>
							</div>
							<p>Add short general description about the events of the school</p>
							<a href="blog-grid.html" class="section-inner-button">View More Events</a>
						</div>

						<div class="row">
							<div class="col-lg-4 col-md-6 col-12">
								<div class="single-news-block">
									<div class="clearfix">
										<div class="date">1-30 <span>November, 2018</span></div>
									</div>
									<h5 class="title"><a href="#">English Month Celebration</a></h5>
									<p>This November, LPSci celebrates its annual English Month filled with exciting and lesson-filled activities for the student community.</p>
									<a href="#" class="read-more clearfix">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

		-->




				<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<% include ../../partials/school/footer %>
			<!--------------------------------------- footer.ejs END ---------------------------------------------->
		</div> <!-- /.main-page-wrapper -->
	</body>

</html>