<!DOCTYPE html>
<html lang="en">
	
<<head>
		<% include ../../partials/school/head %>
			
	</head>
	
	<body>
		<% include ../../partials/school/nav %>
					


					<!-- ^^^^^^^^^^^^^^^^^ Theme Inner Banner ^^^^^^^^^^^^^^^ -->
					<div class="theme-inner-banner">
						<div class="round-shape-one"></div>
						<img src="images/shape/34.png" alt="" class="wave-one">
						<img src="images/shape/34.png" alt="" class="wave-two">
						<img src="images/home/8.png" alt="" class="illustration">
						<img src="images/shape/5.png" alt="" class="shape-one">
						<img src="images/shape/29.png" alt="" class="shape-two">
						<img src="images/shape/30.png" alt="" class="shape-three">
						<img src="images/shape/31.png" alt="" class="shape-four">
						<div class="container">
							<div class="inner-wrapper">
								<h2 class="title">Frequent ask <br>question</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>-</li>
									<li>Faq</li>
								</ul>
								<a href="#" class="site-button hvr-ripple-out">CHeck you Site <i class="flaticon-right-arrpw"></i></a>
							</div> <!-- /.inner-wrapper -->
						</div> <!-- /.container -->
					</div> <!-- /.theme-inner-banner -->
				</div> <!-- /.theme-top-section -->




				<!--
				=====================================================
					Faq Section
				=====================================================
				-->
				<div class="faq-section">
					<img src="images/shape/40.png" alt="" class="shape-one">
					<div class="round-shape-one"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">What does SEO stand for?</h5>
									<p>No. All Mogh plans include secure, unlimited hosting for your digital content. Site uses the best servers and networks to ensure your site is reliable and fast.</p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">Explain like I’m 5 years old, what is SEO?</h5>
									<p>Yes. Your site can use an existing domain name that you own and we also provide a free mogh.com domain name.</p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">How do you do SEO?</h5>
									<p>When you sell your products using the built-in payments in Kajabi, we don’t charge you a transaction fee. You can keep all the money you charge for your products aside from the standard Stripe merchant processing fee of 2.9% + 30 cents per transaction.</p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">Can I change my plan later on?</h5>
									<p>Absolutely. You can upgrade or downgrade your plan at any time.</p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">What happens if I want to cancel?</h5>
									<p>If you ever decide that Name site isn’t the best digital content platform for your business, you can easily cancel your account.</p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-6">
								<div class="faq-block">
									<h5 class="title">Is there a money back guarantee?</h5>
									<p>Yes! If you cancel your account within the first 30 days, and you would like a refund, please let us know and we’ll happily issue you a </p>
								</div> <!-- /.faq-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.faq-section -->



				<!--
				=====================================================
					Our Team
				=====================================================
				-->
				<div class="our-team space-fix">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="single-member active">
									<img src="images/team/1.png" alt="">
									<h4 class="name">Mahfuz Riad</h4>
									<p>Designer Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/2.png" alt="">
									<h4 class="name">Martin Jack</h4>
									<p>SEO Expert</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/3.png" alt="">
									<h4 class="name">Mahfuz Riad</h4>
									<p>Interfeace Designer</p>
								</div> <!-- /.single-member -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="single-member">
									<img src="images/team/4.png" alt="">
									<h4 class="name">Mahfuz Riad</h4>
									<p>WEB DESIGNER</p>
								</div> <!-- /.single-member -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.our-team -->





				<!--
				=====================================================
					Footer 
				=====================================================
				-->
				<% include ../../partials/school/footer %>
	</body>

<!-- Mirrored from html.unifytheme.com/shaj/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Nov 2018 02:02:32 GMT -->
</html>