<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/school/head %>
</head>

<body>
    <% include ../../partials/school/nav %>

    <div class="theme-inner-banner">
        <div class="round-shape-one"></div>
        <img src="images/shape/34.png" alt="" class="wave-one">
        <img src="images/shape/34.png" alt="" class="wave-two">
        <img src="images/svg/404.png" alt="" class="illustration" style="width: 30vw;">
        <img src="images/shape/5.png" alt="" class="shape-one">
        <img src="images/shape/29.png" alt="" class="shape-two">
        <img src="images/shape/30.png" alt="" class="shape-three">
        <img src="images/shape/31.png" alt="" class="shape-four">
        <div class="container">
            <div class="inner-wrapper">
                <h2 class="title">Sorry, but this page is still under construction</h2>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>-</li>
                    <li>Under Construction</li>
                </ul>
            </div> <!-- /.inner-wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.theme-inner-banner -->
    </div> <!-- /.theme-top-section -->

    <div class="error-page">
        <img src="images/shape/41.png" alt="" class="shape-one">
        <img src="images/svg/error.svg" alt="" class="illustration">
        <p>Sorry, but like this page is still under construction, We would appreciate if you come back again later.</p>
        <a href="/" class="home-button">Back To Home Page</a>
    </div>

    <% include ../../partials/school/footer %>
</body>

</html>